OUTPUT_DIRECTORY=/path/to/splitted_files/
SPLIT_SECONDS=60
SPLIT_BY_SILENCE=0
VERBOSE=0

LOG_FILE_PATH=/tmp/log_file.log

NANO_LOGGER_NAME=nano_logger_from_env
NANO_LOGGER_LOG_FILE_PATH=/var/log/my-project/nano_logger_from_env.log
NANO_LOGGER_LOG_LEVEL=INFO
NANO_LOGGER_WRITE_TO_CONSOLE=true
NANO_LOGGER_FORMAT="%(asctime)s %(process)d: %(levelname)s - %(message)s"
NANO_LOGGER_SUPPRESS_WARNINGS=true